
.SignupPageMember{
    position:absolute;
    font-size:50px;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(21, 174, 8, 1), rgba(23, 36, 221, 0.1));
    display:flex;
    direction: row;
}

.Welcome{
    font-size:25px;
    position:absolute;
    top:100px;
    left:10%;
    color:white;
 


}

.EmailInput {
    position: absolute;
    
    left:15%;
    width: 70%;
    height:50px;
    background-color: rgba(194, 240, 190, 0.5);
    border-radius: 10px;
    top:170px;
    font-size:18px;
    
}

.PasswordInput {
    position: absolute;
    left:15%;
    width: 70%;
    height:50px;
    background-color: rgba(194, 240, 190, 0.5);
    border-radius: 10px;
    top:250px;
    font-size:18px;

}



.ForgotPasswordButton {
    padding-left:5px;
    color: blue;
}


.SignupButton {
    position: absolute;
    left:25%;
    width: 50%;
    height:35px;
    background-color: rgba(21, 174, 8, 1);
    border-radius: 30px;
    top:350px;
    font-size:18px;
    color:white;


}

.SignupButton:active, .SignupButton:hover{
    text-decoration: none;
    outline: none;
    background-color: rgba(71, 211, 222, 1);
    transform: scale(1.05);
    
} 

.SignupButtonText{
    position:relative;
    top:-3px;
}

.SignUp {
    position: absolute;
    left:10%;
    top:500px;
    font-size:20px;
    display:flex;
    color:white;

}

.SignUpButton {
    position:relative;
    padding-left:7px;
    color: blue;
    top:4px;
}

.Or {
    position:absolute;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    top:400px;
    left:15%;
    right: 15%;
}



.LeftSign{
    background-color: white;
    width: 120px;
    height: 5px;
    margin-top: 27px;
    margin-left: auto;
    background-color: rgba(21, 174, 8, 0.5);

}

.OrText{
    padding-left:20px;
    padding-right:20px;
    margin-top: 20px;
    font-size:20px;
    color: rgba(21, 174, 8, 1);
}

.RightSign{
    background-color: rgba(21, 174, 8, 0.5);
    width: 120px;
    height: 5px;
    margin-top: 27px;
    
}

.FacebookSignupButton{
    position: absolute;
    left:15%;
    width: 70%;
    height:35px;
    background-color: #3b5998;
    border-radius: 30px;
    top:480px;
    font-size:12px;
    color:white;
    display: flex;
}

.FacebookSignupButton:active, .FacebookSignupButton:hover{
    text-decoration: none;
    outline: none;
    background-color: rgba(71, 211, 222, 1);
    transform: scale(1.05);
    
} 

.FacebookSignupButtonText {
    position:relative;
    top:6px;
    left:20%;

}

.facebookLogo {
    position:relative;
    height:20px;
    width: 20px;
    left:3%;
    top:3px;
    border-radius: 3px;


}