

.InfoWindowWrapper{
    width: 100%;
    
}

.InfoWindow {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 30px;
    margin-top:50px;
}





.TopBar {
    position: relative;
    width: 100%;
    height: 5px;
    top: 0px;

    /* second color */

    background: rgba(155,80,250, 1);
    border-radius: 3px;
}

.Title{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color:#9B50FA;
    margin-top:5px;

}

.Text {
    text-align: center;
   /* text-justify: inter-word;  */
    padding-left: 10px;
    padding-top: 10px;
    
    padding-right: 10px;
    font-weight: bold;
}


.ButtonLink{
    text-decoration: none;
    color:white;
    position:relative ;
    background:  rgba(155,80,250, 1);
    border-radius: 7px;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 7px 2px 12px 10px;
    height: 1.5em;
    width: 5em;
    margin-left:10%;
}

.ButtonsWrapper{
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    top:20px;

}
