
.CategoryWrapper{
    display:flex;
    flex-direction: column;

}

.Category {

    /* border: 1px solid rgba(21,174,8,100); */
    border-radius: 150%;
    margin-left: 20px;
    margin-top: 7px;
    font-size: 50px;
    padding: 7px 10px 7px 10px;
    height:70px;
    width: 70px;
    background-color: white;

    display: inline-block;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.25);

    
}

.Image{
    height: 75px;
    width: 80px;
    border-radius: 100%;
    margin-left:-4px;
    margin-top:-2px;
    
}
.NameAmharic{
    padding-top:9px;
    font-size: 14px;
    color:black;
    padding-left:19px;

}
.Name{
    font-size: 11px;
    color:rgba(0,0,0,0.6);
    padding-left:19px;
    
    
}






