
.Layout{
    display:flex;
    flex-direction: column;
}

.Footer {
    position: relative;
    bottom: 30px;
    width:40px;
    height: 30px;
    background-color: blue;
}


.Refresh{
    position: relative;
    font-size: 10px;
    margin-top:10px;
    top:40px;
    width: 100%;
    text-align: center;
}

